body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}
